@import url(styles/themes/theme-lynda.css);
@import url(styles/vendor/jquery.scrollbar.css);
.factory-flag {
  visibility: hidden; }

#home .highlight {
  color: white; }

.moving-clouds {
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  width: 250.625em;
  height: 43.75em;
  -webkit-animation: cloudLoop 60s linear infinite;
  animation: cloudLoop 60s linear infinite; }

@-webkit-keyframes cloudLoop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0); } }

@keyframes cloudLoop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0); } }

#storyline .scrollbar-inner {
  max-height: 72vh; }

#storyline h6 {
  font-size: .9rem; }

#storyline .slick-dots {
  -webkit-transform: scale(0.75);
  -ms-transform: scale(0.75);
  transform: scale(0.75);
  padding-top: 15px; }

#storyline .slider {
  position: relative; }
  #storyline .slider:before {
    content: "";
    width: 100%;
    height: 15%;
    background: linear-gradient(to bottom, #141414 0%, rgba(20, 20, 20, 0) 100%);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1; }
  #storyline .slider:after {
    content: "";
    width: 100%;
    height: 15%;
    background: linear-gradient(to top, #141414 0%, rgba(20, 20, 20, 0) 100%);
    position: absolute;
    left: 0;
    bottom: 0; }

body > footer {
  padding: 0; }
  body > footer .bottom {
    margin: 0; }
