video {
  width: 100%;
  height:auto;
  background-image: url("../images/bg/index_nasa.jpg");
}
section#nass{
  width:100%;
  height:auto;
  z-index: 101;
}

.image_copyright {
   position: absolute;
   top:73%;
   left:10%;
}

/* max-width: 1200px up */
div.clock{
  width:150px;
  height: 150px;
  position: absolute;
  left: 50%;
  top:50%;
  margin-top: -75px;
  margin-left: -75px;
}
div.clockbg{
 background-image: url("../images/colck.png");
 background-size:contain;
 width:160px;
 height: 160px;
 position: absolute;
 left: 50%;
 top:50%;
 margin-top: -80px;
 margin-left: -80px;
}
div#showYear{
  /*color: #ffffff;*/
  color: rgba(100%,100%,100%,0.8);
  position: absolute;
  opacity:1;
  font-size: 60px; 
  top:50%;
  right: 25%;
}
div#nassContent{
  /*color: #ffffff;*/
  color: rgba(100%,100%,100%,0.8);
  position: absolute;
  opacity:1;
  font-size: 24px;
  top:50%;
  left:20%;
  text-shadow: 1px 1px 5px #000;
}
.nut {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: #fff;
}

.short-hand {
  height: 50px;
  -webkit-animation: rotation 0.3s infinite linear;
  -moz-animation: rotation 0.3s infinite linear;
  -o-animation: rotation 0.3s  infinite linear;
  animation: rotation 0.3s  infinite linear
}
.long-hand {
  height: 60px;
  -webkit-animation: unrotation 0.8s  infinite linear;
  -moz-animation: unrotation 0.8s infinite linear;
  -o-animation: unrotation 0.8s infinite linear;
  animation: unrotation 0.8s infinite linear
}
.short-hand, .long-hand {
  width: 4px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  margin-left: -2px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transform-origin: 2px 0;
  -moz-transform-origin: 2px 0;
  -o-transform-origin: 2px 0;
  transform-origin: 2px 0;
}

@media (max-width: 1199px) {

div#showYear{
  opacity:1;
  font-size: 60px; 
  top:50%;
  right: 25%;
}
div#nassContent{
  opacity:1;
  font-size: 24px;
  top:50%;
  left:18%;

}


}
@media (max-width: 991px) {

div#showYear{
  opacity:1;
  font-size: 60px; 
  top:50%;
  right: 15%;
}
div#nassContent{
  opacity:1;
  font-size: 16px;
  top:50%;
  left:15%;

}


}

/* 手機版 */
@media (max-width: 767px) {

div#showYear{
  opacity:1;
  font-size: 40px; 
  /* top:50%; */
  left: 50%;
  top:85%;
  /* bottom: 10%; */
  margin-left: -55px;
  /* right: 25%; */
}
div#nassContent{
  opacity:1;
  font-size: 16px;
  top:10%;
  left: 50%;
  margin-left: -75px;
  /* left:25%; */

}
  

}











 /* 順時針 */

@-webkit-keyframes rotation {
    0% {
       -webkit-transform: rotate(180deg);
       transform: rotate(180deg);
    }
    100% {
       -webkit-transform: rotate(-180deg);
       transform: rotate(-180deg);
    }
 }
 
 @-moz-keyframes rotation {
    0% {
       -moz-transform: rotate(180deg);
       transform: rotate(180deg);
    }
    100% {
       -moz-transform: rotate(-180deg);
       transform: rotate(-180deg);
    }
 }
 
 @-o-keyframes rotation {
    0% {
       -o-transform: rotate(180deg);
       transform: rotate(180deg);
    }
    100% {
       -o-transform: rotate(-180deg);
       transform: rotate(-180deg);
    }
 }
 
 
 @keyframes rotation {
    0% {
       -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
       -o-transform: rotate(180deg);
       transform: rotate(180deg);
    }
    100% {
       -webkit-transform: rotate(-180deg);
       -moz-transform: rotate(-180deg);
       -o-transform: rotate(-180deg);
       transform: rotate(-180deg);
    }
 }
 
 /* 逆時針 */
 
 @-webkit-keyframes unrotation {
   0% {
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg);
   }
   100% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
   }
 }
 
 @-moz-keyframes unrotation {
   0% {
      -moz-transform: rotate(-180deg);
      transform: rotate(-180deg);
   }
   100% {
      -moz-transform: rotate(180deg);
      transform: rotate(180deg);
   }
 }
 
 @-o-keyframes unrotation {
   0% {
      -o-transform: rotate(-180deg);
      transform: rotate(-180deg);
   }
   100% {
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
   }
 }
 
 
 @keyframes unrotation {
   0% {
      -webkit-transform: rotate(-180deg);
      -moz-transform: rotate(-180deg);
      -o-transform: rotate(-180deg);
      transform: rotate(-180deg);
   }
   100% {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
   }
 }
 